%body.no-gutters
  %home_img.position-relative
    = image_tag "home_image", width: "100%"
  .login-form.position-absolute
    %form
      %h2.text-center.text-white
        Sign in
      .text-center.social-btn
        %a.btn.btn-primary.btn-block{:href => "#"}
          %i.fa.fa-facebook
          Sign in with
          %b Facebook
        %a.btn.btn-danger.btn-block{:href => "#"}
          %i.fa.fa-google
          Sign in with
          %b Google
      .or-seperator
        %i or
      .form-group
        %button.btn.btn-success.btn-block.login-btn{:type => "submit"} Sign in
      .clearfix
        %label.pull-left.checkbox-inline.text-white
          %input{:type => "checkbox"}/
          Remember me
        %a.pull-right.text-success{:href => "#"} Forgot Password?
      .hint-text.text-white
        Don't have an account?
        %a.text-success{:href => "#"} Register Now!

  %section
    .container
      .row
        .section-heading.col-lg-12.mx-auto.text-center
          %h1
            Sharing and connect to people in the world
    .container
      .row
        .service-description.col-lg-6.col-md-6.text-center
          %card_icon
            = image_tag "hi", width: "100px"
          %p.text-muted.mb-0
            Connect to the people from all over the wold
            Sending Hi is the first step to find your language partner
        .service-description.col-lg-6.col-md-6.text-center
          %card_icon
            = image_tag "chat", width: "100px"
          %p.text-muted.mb-0
            You can enjoy chatting with native speakers,
            also help other people learning your language
        .service-description.col-lg-6.col-md-6.text-center
          %card_icon
            = image_tag "location", width: "100px"
          %p.text-muted.mb-0
            Make friends here. They might have
            information that cannot find in guide books
            and even on the internet
        .service-description.col-lg-6.col-md-6.text-center
          %card_icon
            = image_tag "Bulletin-board", width: "100px"
          %p.text-muted.mb-0
            Post in community to ask questions or share
            your favoties topics
  %section.bg-dark.text-white
    .container.text-center
      %h2.mb-4
        Free message for the first year!
      %a.btn.btn-light.btn-xl.sr-button{:href => "http://startbootstrap.com/template-overviews/creative/"} Join community!
